RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /generalseedcompany.ca/index.php?$1 [L]

Options +FollowSymLinks
Options +Indexes
RewriteEngine on
rewritecond %{http_host} ^generalseedcompany.ca [nc]
rewriterule ^(.*)$ http://www.generalseedcompany.ca/$1 [r=301,nc]



